is_production: false

http_server:
  port: "8080"

database:
  host: "localhost"
  port: 5432
  user: "postgres"
  password: "postgres"
  name: "codecuriosity"

jwt_secret: "change-this-secret"
client_url: "http://localhost:3000"

github_oauth:
  client_id: "your_github_oauth_client_id"
  client_secret: "your_github_oauth_client_secret"
  redirect_url: "http://localhost:8080/api/v1/auth/github/callback"
